* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #d2691e;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-logo img {
    height: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 100px;
    font-weight: 600;
}

nav ul li:hover {
    text-decoration: underline;
    text-shadow: #333 2px 2px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.destaque {
    text-align: center;
    padding: 40px;
    background-color: #f8f3e2;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.destaque h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #d2691e;
    margin-bottom: 20px;
    font-weight: bold;
}

.destaque p {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin: 20px 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.destaque img {
    width: 70%;
    max-width: 600px;
    border-radius: 8px;
    margin-top: 20px;
}

.destaque-resumo {
    display: flex;
    align-items: center;
}

.cardapio {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardapio h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #d2691e;
    font-weight: bold;
    text-align: center;
}

.cardapio h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 15px 0 20px 0;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.cardapio img {
    width: 70%;
    max-width: 900px;
    border-radius: 10px;
}

.card h4 {
    font-family: 'Arial', sans-serif;
    color: #d2691e;
}

.card-food {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}


footer {
    background-color: #d2691e;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    margin-bottom: 20px;
    color: #d2691e;
}